@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&family=Protest+Revolution&family=Quicksand:wght@500&family=Roboto+Condensed&display=swap');

* {
    margin: 0;
    padding: 0;
}

.sidebar {
    position: fixed;
    background-color: rgb(0, 0, 0);
    /* width: 293px; */
    transition: transform 0.3s ease-in-out;
    height: 100vh;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Protest Revolution', sans-serif;
}

.sidebar nav {
    padding: 20px;
    padding-top:84px;
    
}

.sidebar nav li {
    list-style: none;
    font-size: 30px;
    padding: 20px 0;
    color: white;
    
}



.main {
    /* background-color: yellow; */
    width: 100vw;
    padding-left: 23px;
    /* float: left; */
    display: block;
}

.container {
    display: flex;
}

.infoContainer {
    border: 1px solid black;
    border-radius: 5px;
    margin: 65px auto;
    /* background-color: greenyellow; */
    height: 490px;
    width: 80vw;
    justify-content: space-around;
    display: flex;
}

.devInfo {
    font-size: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.devpic img {

    padding: 121px 0 121px 0;
    height: 40vh;
    width: 20vw;
    border-radius: 50%;
    object-fit:fill;
}

.hello {
    font-size: 4em;
    font-family: 'Honk', system-ui;

}

.name {
    font-size: 3em;
    font-weight: bold;
}

.about {
    font: size 2.5em;


}

.buttons {
    margin-top: 30px;
    font-size: 10px;
}

.btn {
    padding: 9px 14px;
    border-radius: 22px;
    color: white;
    background-color: dodgerblue;
    font-weight: 2 em;
    margin: 3 3px;
    cursor: pointer;
}

.btn:hover {
    background-color: white;
    color: dodgerblue
}

.sidebar nav li a {
    text-decoration: none;
    color: white;
}

.contactform {
    padding: 0 34px;
    margin-bottom: 50px;
}

.contactform h1 {
    font-size: 50px;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    margin-top: 50px;
}

.contactform form div {
    padding: 10px;
    display: flex;
    flex-direction: column;

    width: 16vw;
    border-radius: 5px;
    margin: 6px 0;
    padding: 3px;

}

.contactform form div input {
    width: 26vw;
    border-radius: 5px;
    margin: 6px 0 0 0;
    padding: 3px;
}

.blogItem {
    margin: 20px;
    font-size: 24px;
    border: 1px solid black;
    border-radius: 5px;
    ;
    /* font-family: 'Protest Guerrilla', sans-serif; */
}

.blogContainer h1 {
    margin: 10 px;
    font-size: 40px;

    font-family: 'Quicksand', sans-serif;
}

.blogContainer h1 a {
    text-decoration: none;
    color: Black;
}

.blogItem h2 {
    margin: 10px;
    font-family: 'Quicksand', sans-serif;
}

.achievement,.education{
    font-family: 'Quicksand', sans-serif;
}
.skillcontainer {
    margin-top: 100px;
    padding: 12px;
    height: 40vh;
    font-size: 25px;
    /* margin:10px; */
}

.skill {
    margin: 10px;
    height: 6px;
    background-color: red;
    border: 0.5px solid black;
}

.skillItem {
    display: flex;
    align-items: right;
    text-align: right;
}

.hundered {
    width: 265px;
    background-color: aquamarine;
}

.fifty {
    width: 132px;
    background-color: blueviolet;
}

.twentyFive {
    width: 66px;
    background-color: coral;
}

.ten {
    width: 26px;
    background-color: darkorchid;
}

.seventyFive {
    width: 198px;
    background-color: darkorange;
}

.hamburger {
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;

}
.darkmode {
    position: absolute;
    cursor: pointer;
    top: 10px;
    right: 30px;
    /* align-items:right; */
}

.sidebargo {
    transform: translate(-443px, 0);
    position: absolute;
    z-index: 1;
    transition: transform 0.3s ease-in-out;
}

.cross {
    margin-left: 2px;
    position: relative;
}

@media (max-width: 850px) {
    .devpic {
        display: none;
    }

    .devInfo {
        font-size: 10px;
    }

    .buttons {
        margin-top: 2px;
        font-size: 6px;
    }

    .intro,
    .blogcontainer,
    .contactform {
        margin: 50px 8px;
    }

    /* .sidebar{
        transform: translate(-443px,0);
        position: absolute;
    } */
}


.blogcontainer {
    margin: 0px 27px;
    margin-top: 40px;
}

.intro {
    margin: 10px 88px;
}

body {
    opacity: 0;
    transition: opacity .5s;
}

.achievement {
    height: 40vh;
    /* background-color: pink; */
    display: block;
    text-align: right;
    font-size: 25px;
    /* float: left;
    clear:left; */
}

.achievement li {
    margin: 23px;
    font-size: 20px;
}

.education {
    /* background-color: lightblue; */
    text-align: right;
}

.Ed {
    margin: 23px;
    font-size: 20px;
}

.education h2,
.achievement h2 {
    font-size: 40px;
    margin: 23px;
    /* font-family: 'Protest Riot', sans-serif; */
}

.number {
    margin-left: 1px;
    /* border: 1px solid black; */
    padding: 5px;
    padding-top: 0px;
    font-size: 25px;
}

.heart-btn {
    border: 0;
    /* background-color: red; */
}

.like {
    margin: 5px;
    display: flex;
    border: 0px solid black; 
    width: 70px;
    border-radius: 40px;
    height: 30px;
    cursor: pointer;
}

.like:hover {
    background-color:#d62976;
    color: white;
}

.interaction {
    display: flex;
    justify-content: center;
    margin: 10px;
    font-size: 20px;
    /* font-family: 'Protest Riot', sans-serif; */
}

.comment {
    margin-top: 6px;
    height: 28px;
    margin-left: 5px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0 5px 0 5px;
}

.links{
    margin-top: 25px;
    font-size: 20px;
}

.links a{
    text-decoration:none;
}

.links a img{
    margin-right:25px;
}

.dark{
    background-color: black;
    color:white;
}

.light{
    background-color: white;
    color:black;
}